/*The header is moved to a separate jsx.*/
/* ------------------------------Body-------------------------------- */

.body-sections {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
}

.body-sections > * {
     border: 1px solid grey;
     border-radius: 20px;
     margin: 0.75em;
     padding: 1em;
}

